<ion-header>
  <ion-toolbar>
    <ion-title>公考助手</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <span class="name">一级主任科员及以下</span>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div><span>综合行政执法局直属和派出机构</span></div>
      <div>
        <span>招录人数</span><span class="card-content-emphasize">1</span>
      </div>
      <div>
        <span>招录人数</span><span class="card-content-emphasize">1</span>
      </div>
      <div>
        <span>缴费人数</span><span class="card-content-emphasize">147</span>
      </div>
      <div>
        <span>难度排名</span
        ><span class="”card-content-emphasize“">121（2019，全省）</span>
      </div>
      <div>
        <ion-badge color="primary">社区干部</ion-badge>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
