ion-card {
  --background: transparent;
}
ion-content {
  .filter {
    padding: 20px 20px 0 20px;
  }
  ion-card-content {
    height: 140px;
    padding-top: 0px;

    span {
      padding-right: 10px;
    }

    div {
      margin-bottom: 3px;
    }
  }
}
