/* button */
.ion-color-filter {
  --ion-color-base: var(--ion-color-filter);
  --ion-color-base-rgb: var(--ion-color-filter-rgb);
  --ion-color-contrast: var(--ion-color-filter-contrast);
  --ion-color-contrast-rgb: var(--ion-color-filter-contrast-rgb);
  --ion-color-shade: var(--ion-color-filter-shade);
  --ion-color-tint: var(--ion-color-filter-tint);
}
