* {
  font-family: "Microsoft YaHei" !important;
}
ion-card {
  * {
    box-sizing: content-box;
  }
}

ion-card-title {
  font-size: 18px;
}

ion-card-subtitle {
  font-size: 16px;
}

.card-content-ios {
  font-size: 16px;
  font-weight: 700;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
